<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body style="padding: 5px;margin: 5px;">
      <h2>Welcome to My Password Manager</h2>
      <p>Our Aim is to help you secure your password .</p>
      <p>Add a Password</p>
      <a href="/save"> <button>Click Here</button> </a>
      <p>Get Password</p>
      <a href="/search"> <button>Click Here</button> </a>
      <p> Want to contribute to this project </p>
      <a href="">Github</a>
  </body>
</html>