<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body style="padding: 5px;margin: 5px;">
    <h2>Get Password</h2>

        <form action="/search" method="POST">
        Website : <input type="text" id="website" name="website" placeholder="website" required/> <br /><br />
        Username : <input type="text" id="username" name="username" placeholder="your username" required/><br /><br />
        Master Password : <input type="password" id="masterpassword" name="masterpassword" placeholder="your master password" required/> <br /><br />
        <button>Search</button>
      </form>   
      <br/>
      <a href="/"><button>Go Back</button></a>

  </body>
</html>